NEXT_PUBLIC_SUPABASE_URL=https://queqzbikchcgxyvczomf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF1ZXF6YmlrY2hjZ3h5dmN6b21mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjczNjI1NTYsImV4cCI6MjA4MjkzODU1Nn0.lS43I9E7Kzk6FOtEdp7cCYTHG3QqwnksllHbmvqBrz8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF1ZXF6YmlrY2hjZ3h5dmN6b21mIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzM2MjU1NiwiZXhwIjoyMDgyOTM4NTU2fQ.vxHRKi6k7qiBN5hCOcVzLcCma7vYh_NHAZpc3lcSgO4
